body {
  margin: 0;
  font-family: "nunito";
  background-color: #f3f5f7;
}

.main-container {
  width: 500px;
  margin: auto;
  padding: 50px;
}

.card {
  background-color: white;
  width: 450px;
  height: 500px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}

.photoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 10px;
}

.personalData-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  width: 450px;
  height: 100px;
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #0096fc;
  color: white;
  font-size: 25px;
  font-weight: bold;
  font-family: "nunito";
}

.line {
  height: 0.5px;
  width: 125px;
  border: 0.5px solid #e8e8e8;
}

.name {
  font-weight: bold;
  font-size: 30px;
  margin: 0px;
}

.username {
  color: #afafaf;
  font-size: 20px;
  font-style: italic;
}
